<?xml version="1.0" encoding="Big5" ?>
<DbConfig>
  <Config>
    <SysId>IntraLogin</SysId>
    <Server>rtitoadbqa.realtek.com.tw\DEVELOPESQLSERVE</Server>
    <UserId>eHRUser</UserId>
    <Password>E1F542E746EAC0B4</Password>
    <Database>eHR</Database>
    <ExtArguments>connection timeout=60;Application Name=IntraLogin;</ExtArguments>
  </Config>
</DbConfig>



